.idea
vendor
private
web/core
web/modules/contrib/*
web/themes/contrib/*
web/sites/default/*

web/.csslintrc
web/.editorconfig
web/.eslintignore
web/.eslintrc.json
web/.gitattributes
web/.ht.router.php
#web/.htaccess
web/INSTALL.txt
web/README.txt
web/autoload.php
web/example.gitignore
web/index.php
#web/robots.txt
web/update.php
web/web.config
web/modules/README.txt
web/profiles/README.txt
web/sites/README.txt
web/sites/default/default.services.yml
web/sites/default/default.settings.php
web/sites/development.services.yml
web/sites/example.settings.local.php
web/sites/example.sites.php
web/themes/README.txt